<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/' class='c-nav__link'>Inicio</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/aplicaciones/' class='c-nav__link'>Aplicaciones</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/desarrollo-web/' class='c-nav__link'>Desarrollo Web</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/internet/' class='c-nav__link'>Internet</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/about' class='c-nav__link'>Sobre mí</a>
</li>

